.mimoduloprestashop_bloque {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    clear: both;
    overflow: auto;
}

.mimoduloprestashop_bloque textarea {
    width: 100%;
}

#product-comment {
    background-color: #fbfbfb;
    padding: 20px 10px;
}

#product-photo {
    padding: 20px;
    overflow: hidden;
}

#fotocliente_popup {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    text-align: center;
    top: 0;bottom: 0;left: 0;right: 0;
}

#fotocliente_popup img {
    border: 10px solid lightgray;
    margin: auto;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
}